CONFIG_WB40N=y
CONFIG_RAM_32MB=y
CONFIG_SDRAM_16BIT=y
# CONFIG_NANDFLASH_RECOVERY is not set
# CONFIG_USE_ON_DIE_ECC_SUPPORT is not set
CONFIG_IMG_ADDRESS="0x00020000"
CONFIG_JUMP_ADDR="0x21000000"
CONFIG_IMG_SIZE="0x00080000"
CONFIG_DEBUG=y
# CONFIG_DISABLE_WATCHDOG is not set
CONFIG_THUMB=y
CONFIG_USER_HW_INIT=y
